* {
    margin: 0px;
    color: white;
}

body {
    background-color: rgb(15, 59, 15);
    background-image: url('https://cdn.pixabay.com/photo/2019/05/31/09/15/business-4241785_960_720.jpg');
    background-size: cover;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;    
}

header h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
    text-shadow: 3px 3px 3px black;
}

#calendario {
    background-color: #212529;
    width: fit-content;
    /* margin: 0px auto; */
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: 700;
    height: fit-content;
}

#section-controls {
    display: flex;
    justify-content: space-around;
    position:fixed;
    top: 85%;
    width: 100%;
    margin-bottom: 50px;
}

#tasks-section {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

#div-tarefas {
    display: flex;
    justify-content: center;
    min-height: 100px;
    max-width: 90%;
}

.tarefa {
    background-color: white;
    text-decoration: none;
}

.selecionada {
    background-color: gray;
    opacity: 0.6;
    text-decoration: none;
}

.completed td {
    /* text-decoration: line-through solid rgb(243, 3, 3); */
    color:rgb(26, 226, 26);
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}

#controles {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 5px 200px;
}

.btn-control {
    color: black;
}

/* #forms-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
} */

form {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap: wrap;

    max-width: 100%;
}

.mb-3 {
    display: flex;
    justify-content:end;
    flex-direction:column;
    align-content:flex-end;
    margin-left: 3px;
    margin-bottom: 0px;
    width: 250px;
}

.form-control {
    max-width: 100%;
}

label {
    margin: 0px;
    text-shadow: 1px 1px 1px black;
}

#criar-tarefa {
    width: 250px;
    height: 38px;
}

footer {
    position: fixed;
    top: 95%;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.781);
}

table {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    font-weight:700;
}

table th {
    color: rgb(219, 223, 18);
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    font-weight: bolder;
    min-width: 100px;
}

.cells {
    max-width: 200px;
}

@media screen and (max-width: 600px) {
    * {
        margin: 0px 3px;
    }
    header h1 {
        font-size: 50px;
    }
    table {
        margin: 0px auto;
        font-size: 10px;
    }    
    table th {        
        min-width: 35px;
    }

    .btn, .btn-dark {
        font-size: 10px;
        max-width:fit-content;
        margin: 0px 2px;
    }
}