#div-tarefas {
    min-height: 100px;
}

.tarefa {
    background-color: white;
    text-decoration: none;
}

.selecionada {
    background-color: gray;
    text-decoration: none;
}

.completed {
    text-decoration: line-through solid black;
}

#controles {
    margin-top: 50px;
}
